<h1>Foo</h1>

<h2>Buttons | Flat</h2>
<div>
  <button mat-button>Flat</button>
  <button mat-button color="primary">Flat | Primary</button>
  <button mat-button color="accent">Flat | Accent</button>
  <button mat-button color="warn">Flat | Warn</button>
</div>

<h2>Buttons | Raised</h2>
<div>
  <button mat-raised-button>Raised</button>
  <button mat-raised-button color="primary">Raised | Primary</button>
  <button mat-raised-button color="accent">Raised | Accent</button>
  <button mat-raised-button color="warn">Flat | Warn</button>
</div>

<router-outlet></router-outlet>
