// Defines the primary and accent palettes to be used.

$palette-primary: (
    50 : #e2e9e8,
    100 : #b7c8c6,
    200 : #87a3a1,
    300 : #577e7b,
    400 : #33635e,
    500 : #0f4742,
    600 : #0d403c,
    700 : #0b3733,
    800 : #082f2b,
    900 : #04201d,
    A100 : #5dffee,
    A200 : #2affe9,
    A400 : #00f6dc,
    A700 : #00dcc5,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$palette-accent: (
    50 : #fef8ed,
    100 : #fcedd3,
    200 : #fbe2b6,
    300 : #f9d699,
    400 : #f7cd83,
    500 : #f6c46d,
    600 : #f5be65,
    700 : #f3b65a,
    800 : #f2af50,
    900 : #efa23e,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffedd7,
    A700 : #ffe1be,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);